<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">TeLlevoApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-img src="https://static.skillshare.com/cdn-cgi/image/quality=80,width=1000,format=auto/uploads/project/bccdbcb19db0d3cd894072dec63c2fb2/960efe4f.gif"></ion-img>
  </div>

  <div>
    <div>
      <ion-row style="height: 20px"></ion-row>
      <ion-label class="center-content">Comparte tus viajes!!!</ion-label>
      <ion-row style="height: 20px"></ion-row>

      <ion-list>
        <ion-item>
          <ion-select aria-label="Perfil" placeholder="Selecciona perfil">
            <ion-select-option value="CONDUCTOR">Conductor</ion-select-option>
            <ion-select-option value="PASAJERO">Pasajero</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-input label="Usuario" label-placement="floating" fill="solid" placeholder="Ingresar nombre Usuario"
        [(ngModel)]="userLoginModal.usuario"></ion-input>

      <br />

      <ion-input label="Contraseña" label-placement="floating" fill="solid" type="password"
        placeholder="Ingresar Contraseña" [(ngModel)]="userLoginModal.pass"></ion-input>


    </div>

    <ion-row style="height: 20px"></ion-row>

    <div style="text-align: center;">
      <ion-button expand="full" color="success" (click)="userLogin(userLoginModal)">
        Ingresar</ion-button>
      <br/>
      <br/>
      <ion-button (click)="crearUsuario()" color="secondary"> <ion-icon name="person-add-outline"></ion-icon> Crear Cuenta</ion-button>  <ion-button (click)="recuperarContrasena()" color="warning"> <ion-icon name="bag-outline"> </ion-icon> Recuperar Contraseña</ion-button>
    </div>
  </div>

</ion-content>