<ion-content [fullscreen]="true" color="light">

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ userInfoReceived?.nombre }} {{
    userInfoReceived?.apellido }} </h1>

    <ion-item>
      <ion-avatar slot="start" *ngIf="cargando">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label> <ion-label>{{ userInfoReceived?.nombre }} {{ userInfoReceived?.apellido }}</ion-label> </ion-label>
    </ion-item>

  <ion-list [inset]="true" *ngIf="cargando">
    <ion-list-header>
      <ion-label style="color: dodgerblue">Información del Pasajero: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Mail: {{ userInfoReceived?.mail }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: {{ userInfoReceived?.pass }}</ion-label>
    </ion-item>
  </ion-list>

  <div style="text-align: center;" *ngIf="cargando">

    <ion-list [inset]="true">
      <ion-icon name="car-outline" style="zoom:3.0;"></ion-icon>
      <ion-item>
        <ion-label>Conductor {{ userInfoReceived?.nombre }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Vehiculo: {{ vehiculoInfoReceived?.marca_vehiculo }} {{ vehiculoInfoReceived?.modelo_vehiculo }} {{
          vehiculoInfoReceived?.color_vehiculo }}</ion-label>
      </ion-item>
    </ion-list>
  
  </div>

  <div style="text-align: center;">
    
    <ion-button expand="full" color="danger" (click)="cerrarSesion()">Cerrar Sesion</ion-button>

  </div>

</ion-content>
