<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina de Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ userInfoReceived?.nombre }} {{
    userInfoReceived?.apellido }} </h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label style="color: dodgerblue">Información del Pasajero: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre pasajero: {{ userInfoReceived?.nombre }} {{ userInfoReceived?.apellido }}</ion-label>
    </ion-item>
  </ion-list>

  <div style="text-align: center;">
    
    <ion-button expand="full" color="danger" (click)="cerrarSesion()">Cerrar Sesion</ion-button>

  </div>

</ion-content>
